apiVersion: scheduling.k8s.io/v1
kind: PriorityClass
metadata:
  name: high-priority-preempting-{{ namespace }}
value: 1000000
preemptionPolicy: PreemptLowerPriority
globalDefault: false
description: "This priority class will allow pods to preempt the lower-priority pods"

