#!/bin/bash

NODES=$1
SSH_PARAMS=$2

for node in $NODES; do
    ssh $SSH_PARAMS "$node" "sudo ln -s -f /usr/libexec/platform-python3.6 /usr/local/bin/python3"
    ssh $SSH_PARAMS "$node" "sudo ln -s -f /usr/libexec/platform-python3.6 /usr/local/bin/python"
done
