---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ username }}
  namespace: {{ namespace }}
subjects:
- kind: ServiceAccount
  name: {{ username }}
roleRef:
  kind: ClusterRole
  name: {{ k8s_namespace_clusterrole_name }}
  apiGroup: rbac.authorization.k8s.io
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ namespace }}-node-crb
subjects:
- kind: ServiceAccount
  name: {{ username }}
  namespace: {{ namespace }}
roleRef:
  kind: ClusterRole
  name: {{ k8s_node_clusterrole_name }}
  apiGroup: rbac.authorization.k8s.io
